.ColorBoxes {
  width: 20%;
  height: 25%;
  display: inline-block;
  cursor: pointer;
  position: relative;
  /* doubt...why this number=3.5px? */
  margin-bottom: -4px;
}

.ColorBoxes-copy span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 12px;
  /* width: 100%; */
  color: black;
  padding: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ColorBoxes-copy button {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100px;
  height: 30px;
  position: absolute;
  text-transform: uppercase;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -50px;
  opacity: 0;
  outline: none;
  border: none;
  font-size: 1rem;
  display: inline-block;
  line-height: 30px;
  /* color: white; */
  color: black;
}

.ColorBoxes:hover .ColorBoxes-copy button {
  opacity: 1;
  transition: 0.5s;
}

.see-more {
  position: absolute;
  right: 0;
  font-size: 12px;
  bottom: 0;
  outline: none;
  width: 65px;
  height: 20px;
  border: none;
  line-height: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}
